<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>TrabalhoFinal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Exemplo simples de servlet</description>
    <display-name>Servlet01</display-name>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>dev.mfpmartins.javaservlets.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet02</display-name>
    <servlet-name>Servlet02</servlet-name>
    <servlet-class>dev.mfpmartins.javaservlets.Servlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet02</servlet-name>
    <url-pattern>/Servlet02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServletContextListenerTestServlet</display-name>
    <servlet-name>MyServletContextListenerTestServlet</servlet-name>
    <servlet-class>dev.mfpmartins.javaservlets.MyServletContextListenerTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletContextListenerTestServlet</servlet-name>
    <url-pattern>/MyServletContextListenerTestServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>dev.mfpmartins.javaservlets.MyServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>PagLogin</display-name>
    <servlet-name>PagLogin</servlet-name>
    <servlet-class>dev.mfpmartins.javaservlets.PagLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagLogin</servlet-name>
    <url-pattern>/PagLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagLoginAction</display-name>
    <servlet-name>PagLoginAction</servlet-name>
    <servlet-class>dev.mfpmartins.javaservlets.PagLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagLoginAction</servlet-name>
    <url-pattern>/PagLoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagApp1</display-name>
    <servlet-name>PagApp1</servlet-name>
    <servlet-class>dev.mfpmartins.javaservlets.PagApp1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagApp1</servlet-name>
    <url-pattern>/PagApp1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagApp2</display-name>
    <servlet-name>PagApp2</servlet-name>
    <servlet-class>dev.mfpmartins.javaservlets.PagApp2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagApp2</servlet-name>
    <url-pattern>/PagApp2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>dev.mfpmartins.javaservlets.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
</web-app>